* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
}

:root {
  --white: #ffff;
  --primary: #f2f2f2;
  --gray-soft: #d5d5d5;
  --gray: #bebebe;
  --dark-gray: #888888;
  --blue: #2c5dbe;
  --dark-medium-blue: #264e9f;
  --dark-blue: #1c3e83;
  --dark: #222222;
}

a {
  color: var(--primary);
  text-decoration: none;
}

.wrapper {
  margin: 0px 6vw;
}

/* Navbar */

/* Navbar Center */

.navbar-top {
  width: 100%;
  height: 70px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
}

.navbar-top .navbar-top-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.navbar-top div {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-top .logo img {
  height: 65%;
}

.navbar-top .logo h1 {
  font-size: 20px;
  font-weight: 800;
  color: #1676bb;
  margin-left: 10px;
}

.navbar-top .logo h1 p {
  font-size: 12px;
}

.navbar-top .media-sosial {
  display: flex;
  justify-content: right;
  /* border: 1px solid salmon; */
}

.navbar-top .media-sosial span {
  width: 50px;
  height: 70px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-top .media-sosial span a {
  font-size: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
}

.navbar-top .media-sosial span a:hover {
  width: 35px;
  height: 35px;
}

.navbar-top .media-sosial span a:nth-last-child {
  margin-right: 0;
}

.navbar-top .media-sosial span:nth-child(1) a {
  background-color: #144395;
}

.navbar-top .media-sosial span:nth-child(2) a {
  background-color: #202d44;
}

.navbar-top .media-sosial span:nth-child(3) a {
  background-color: #202d44;
}

.navbar-top .media-sosial span:nth-child(4) a {
  background-color: #bf1313;
}

.navbar-top .media-sosial span a i {
  color: var(--primary);
  font-size: 15px;
  transition: 0.3s all ease-in-out;
}
.navbar-top .media-sosial span a:hover i {
  font-size: 20px;
}

/* Navbar Bottom */

.navbar-bottom {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.navbar-bottom ul {
  display: flex;
  position: absolute;
  list-style: none;
  width: 80%;
}

.navbar-bottom ul li {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.navbar-bottom ul li:first-child {
  padding-left: 0;
}

.navbar-bottom ul li a {
  font-size: 16px;
  color: var(--gray);
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}
.navbar-bottom ul li a:hover,
.navbar-bottom ul li a.active {
  color: var(--primary);
}

.navbar-bottom ul li a i {
  font-size: 30px;
  position: absolute;
  top: -30%;
  right: -0.9em;
}

.kesiswaan {
  margin-right: 15px;
}

.navbar-bottom ul li .contentKesiswaan {
  display: none;
  background-color: var(--primary);
  list-style: none;
  width: 140px;
  height: 140px;
  border-radius: 0 0 10px 10px;
  top: 60px;
  position: absolute;
  transition: display 0.3s ease-in-out;
}

.navbar-bottom ul li .contentKesiswaan span a:hover {
  color: var(--blue);
}

.navbar-bottom ul li .contentKesiswaan span {
  display: flex;
  justify-content: left;
  left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-bottom ul li .contentKesiswaan span:first-child {
  margin-top: 10px;
}

.navbar-bottom ul li .contentKesiswaan span a {
  margin-left: 20px;
}

.navbar-bottom ul li .contentKesiswaan.actived {
  display: block;
}

.navbar-bottom ul li .contentKesiswaan.scrolled {
  background-color: var(--blue);
  color: var(--primary);
}

.navbar-bottom ul li .contentKesiswaan.scrolled span a:hover {
  color: var(--primary);
}

/* on scrolled */

.scrolled {
  color: var(--blue);
  background-color: var(--primary);
}

.scrolled ul li a:hover,
.scrolled ul li a.active {
  color: var(--blue);
}

/* end Navbar */

/* header */

.header img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: bottom;
}

.header .header-text {
  position: absolute;
}

.header .header-text .wrapper h2 {
  color: #fced01;
  font-weight: 600;
  margin-top: 80px;
  font-size: 20px;
  text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
}

.header .header-text .wrapper h1 {
  margin-top: 49px;
  color: var(--primary);
  font-weight: 800px;
  font-size: 65px;
}

.header .header-text .wrapper h3 {
  color: var(--primary);
  font-weight: 600px;
  font-size: 18px;
  margin-top: 30px;
}

/* end Header */

/* page 1 */

.page1 {
  width: 100%;
  height: 500px;
  background-color: var(--primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1 .card {
  overflow: hidden;
  width: 95%;
  height: 600px;
  background-color: var(--primary);
  position: absolute;
  top: -160px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
}

.page1 .card .top {
  width: 100%;
  height: 20%;
  border-bottom: 1.5px solid var(--dark);
}

.page1 .card .top ul {
  display: flex;
  justify-content: space-around;
}

.page1 .card .top ul li {
  display: flex;
  padding: 40px;
}

.page1 .card .top ul li .icon {
  font-size: 35px;
  font-weight: 100;
}

.page1 .card .top ul li span h2 {
  font-size: 15px;
  font-weight: 400;
  color: var(--dark-gray);
}

.page1 .card .top ul li span a {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  transition: 0.3s all ease-in-out;
}

.page1 .card .top ul li span a:hover {
  color: var(--blue);
}

.page1 .card .top ul li span:nth-child(2) {
  margin-left: 20px;
}

/* main content */

.page1 .card .main {
  display: flex;
  position: relative;
}

.page1 .card .main img {
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.page1 .card .main .page1-content {
  background: linear-gradient(to top left, var(--blue), var(--dark-medium-blue));
  width: 50%;
  height: 480px;
  color: var(--primary);
}

.page1 .card .main .page1-content .container {
  margin-left: 50px;
}

.page1 .card .main .page1-content .container h1 {
  margin-top: 60px;
  font-size: 42px;
}

.page1 .card .main .page1-content .container h2 {
  margin-top: 30px;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 20px;
  color: var(--gray-soft);
}

.page1 .card .main .page1-content .container a {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  font-weight: 800;
  color: var(--blue);
  transition: 0.3s all ease-in-out;
}

.page1 .card .main .page1-content .container a:hover {
  background-color: var(--gray-soft);
}

/* end  page 1 */

/* page 2 */

.page2 {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: block;
}

.page2 .cover-page2 {
  height: 505px;
  width: 100%;
  object-fit: cover;
}

.page2 .mainpage2 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.page2 .mainpage2 .container {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  width: 95%;
}

.page2 .mainpage2 .container .contentpage2 {
  width: 60%;
}

.page2 .mainpage2 .container .contentpage2 h3 {
  line-height: 30px;
  color: var(--primary);
  font-weight: 400;
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.page2 .mainpage2 .container .tittle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page2 .mainpage2 .container .tittle .tittle-image {
  display: flex;
}

.page2 .mainpage2 .container .tittle .tittle-image img {
  width: 25px;
  height: 25px;
}

.page2 .mainpage2 .container .tittle .tittle-image h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}

.page2 .mainpage2 .container .tittle h2 {
  font-size: 60px;
  font-weight: 400;
  color: var(--primary);
  font-family: "Poppins", sans-serif;
}

/* end page 2 */
